@font-face {
    font-family: MR;
    src: url(fonts/MontserratAlternates-Medium.ttf);
}
@font-face {
    font-family: MB;
    src: url(fonts/MontserratAlternates-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page{
    background-color: rgb(0, 42, 68);
    display: flex;
    justify-content: center;
}
.info{
    margin-top: 50px;
    width: 1720px;
    height: 3000px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;
}
.polosa{
    width: 760px;
    height: 3000px;
    background-color: rgb(248, 201, 255);
    position: relative;
    left: 40px;
    display: inline;
    float: left;
    padding-top: 110px;
}
.polosa2{
    width: 760px;
    height: 3000px;
    position: relative;
    right: 40px;
    display: inline;
    float: right;
    padding-top: 120px;
}
h1{
    font-family: MB;
    font-size: 60px;
    line-height: 1.2;
    text-align: center;
}
.profession{
    padding-top: 40px;
    font-family: MR;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 100px;
}
.photo{
    position: relative;
    top: 30px;
    left: 87.5px;
    justify-content: center;
}
.ph{
    width: 590px;
    height: 590px;
    border-radius: 70%;
    border: 30px solid #ffffff;
}
.icon{
    width: 75px;
    height: 75px;
}
.iconka{
    width: 45px;
    height: 45px;
}
.contact{
    justify-content: center;
    padding-top: 100px;
}
.Zagolovok{
    display: flex;
    justify-content: center;
}
.Zagolovok2{
    display: flex;
    justify-content:left;
    padding-top: 50px;
    padding-bottom: 50px;
}
.Zagolovok3{
    margin-left: 50px;
    display: flex;
    justify-content: right;
}
.Zagolovok4{
    display: flex;
    justify-content: space-between;
}
.text{
    padding: 10px;
    display: flex;
    justify-content: center;
    
}
h2{
    font-family: MB;
    font-size: 50px;
    line-height: 1.2;
    text-align: center;
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 20px;
}
h3{
    font-family: MB;
    font-size: 30px;
    line-height: 1.2;
    text-align: center; 
    padding-top: 20px;
    padding-bottom: 10px;
}
h4{
    font-family: MB;
    font-size: 30px;
    line-height: 1.2;
    text-align: left; 
    padding-top: 20px;
    padding-bottom: 10px;
}
p{
    font-family: MR;
    font-size: 25px;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 5px;
}
.l{
    font-size: 30px;
    text-align: left;
    padding-bottom: 15px;
}
.opt{
    font-family: MB;
    font-size: 30px;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 5px;
}
ul{
padding: 20px;
}
li span{
    font-family: MB;
    font-size: 30px;
    line-height: 1.2;
    text-align: left;
    color: black;
}  
ul li{
font-size: 30px;
color: #47deef;
padding-bottom: 30px;
}
.smail{
    padding-left: 10px;
    padding-top: 5px;
    font-family: MR;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
}
.obolochka{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.razdel{
    background-color: black;
    width: 500px;
    height: 3px;
    border-radius: 2px;
}
.container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: 8%;
    width: 40%;
}

.progress {
    padding: 6px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
      0 1px rgba(255, 255, 255, 0.08);
} 

.progressbar {
    height: 18px;
    border-radius: 30px;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.05)
    );
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.progress-moved .progressbar {
    background-color: #47deef;
    animation: progressAnimation 4s;
}

@keyframes progressAnimation {
0% {
    width: 0%;
    background-color: #bcf9f9;
}
100% {
    background-color: #47deef;
}

}

.progress-60 {
    animation: progressAnimation 4s forwards;
    width: 60%;
}

.progress-75 {
    animation: progressAnimation 4s forwards;
    width: 75%;
}

.progress-85 {
    animation: progressAnimation 4s forwards;
    width: 85%;
}
.progress-90 {
    animation: progressAnimation 4s forwards;
    width: 90%;
}